.list-card-item {
  display: flex;
  margin: 20px 0;
  width: 75vw;
  height: 200px;
  box-shadow: 5px 5px 40px 10px rgb(207, 207, 209);
  justify-content: space-between;
}

.list-img-wrap {
  flex-basis: 40%;
  overflow: hidden;
}

.list-img {
  width: 600px;
  height: 200px;
}

.list-info {
  flex-basis: 58%;
  display: block;
  padding-top: 5px;
}

.list-text-link {
  text-decoration: none;
}

.text-wrap {
  width: 95%;
  height: 125px;
  overflow: hidden;
}
