* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container.place {
  background-image: url(./images/background-world-map.gif);
  background-size: cover;
}

span {
  color: red;
}
